:root {
  --Primary-0: #FFFFFF;
  --Primary-500: #3563E9;
  --Secondary-300: #90A3BF;
  --Secondary-500: #1A202C;
  --White-Transparent: #FFFFFF00;
  --White: #FFFFFF;
  --Error: #ED3F3F;
  
}

.cars-catalogue {
  width: 100%; /* Change fixed width to full width */
  max-width: 1440px; /* Ensure it does not grow beyond 1440px */
  min-height: 100vh;
  background: #f6f7f9;
  overflow-x: hidden;
  margin: 0 auto; /* Center it */
}


.catalogue-header {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 28px;
  
}

.catalogue-title {
  display: flex;
  width: 170px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 28px;
  margin-left: 32px;
  color: var(--Secondary-500, #1A202C);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
}

.catalogue-count {
  display: flex;
  width: 61px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 30px;
  color: var(--Secondary-300, #90A3BF);
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.catalog-card {
  display: flex;
  align-items: flex-start;
  background: var(--Primary-0, #FFFFFF);
  border-radius: 10px;
  width: 317px;
  height: 388px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;
  margin-left: 32px;
  

}

.car-name {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-left: 24px;
  margin-top: 24px;

}

.car-name-title {
  display: flex;
  width: 128px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-500, #1A202C);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
}

.car-name-type {
  display: flex;
  width: 128px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-300, #90A3BF);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.vuesax {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}

.vuesax-heart {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.car-image {
  position: absolute;
  background-size: cover;
  background-position: center;

  top: 124px;
  left: 22px;
  z-index: 2;
  flex-shrink: 0;
}
.car-image[data-car-id="1"],.car-image[data-car-id="10"] {
  width: 272px;
  height: 84px;
  left: 18px;
  top: 118px;
}
.car-image[data-car-id="2"],.car-image[data-car-id="11"] {
  width: 228px;
  height: 72px;
  left: 18px;
  top: 118px;
  
}
.car-image[data-car-id="3"],.car-image[data-car-id="12"] {
  width: 244px;
  height: 76px;
  left: 18px;
  top: 118px;
}

.car-image[data-car-id="4"] {
  width: 252px;
  height: 112px;
  left: 18px;
  top: 118px;
}

.car-image[data-car-id="5"] {
  width: 254px;
  height: 102px;
  left: 16px;
  top: 122px;
}

.car-image[data-car-id="6"] {
  width: 252px;
  height: 112px;
  left: 20px;
  top: 120px;
}

.car-image[data-car-id="7"],
.car-image[data-car-id="9"] {
  width: 264px;
  height: 108px;
  left: 14px;
  top: 126px;
}

.car-image[data-car-id="8"] {
  width: 308px;
  height: 120px;
  left: 10px;
  top: 116px;
}

.shadow {
  width: 264px;
  height: 66px;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  position: absolute;
  top: 42px;
  left: 4px;
  z-index: 1;

}

.specification {
  display: inline-flex;
  align-items: flex-start;
  gap: 17px;
  margin-left: 24px;
  position: absolute;
  top: calc(124px + 84px + 52px);
  z-index: 2;

}

.specification-gasoline {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.specification-gasoline-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.specification-gasoline-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.specification-gasoline-text {
  display: flex;
  width: 28px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-300, #90A3BF);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.specification-car {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.specification-car-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.specification-car-text {
  display: flex;
  width: 52px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-300, #90A3BF);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.specification-capacity {
  display: flex;
  align-items: flex-start;
  gap: 7px;
}

.specification-capacity-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.specification-capacity-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.specification-capacity-text {
  display: flex;
  width: 60px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-300, #90A3BF);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}

.rental-button {
  display: flex;
  width: 116px;
  height: 44px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Primary-500, #3563E9);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 320px;
  right: 24px;

}

.rental-text {
  display: flex;
  width: 76px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Primary-0, #FFF);
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-shrink: 0;
  position: absolute;
  bottom: 36px;
  left: 24px;

}

.price-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-500, #1A202C);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Secondary-300, #90A3BF);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(3, 317px);
  gap: 32px;
  margin-bottom: 32px;
  

}