.navbar-top {
  width: 100%px;
  height: 124px;
  flex-shrink: 0;
  border: 1px solid rgba(195, 212, 233, 0.40);
  background: var(--Primary-0, #FFF);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.navbar-brand {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--Primary-500, #3563E9);
  line-height: 150%;
  letter-spacing: -0.96px;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 357px;
  top: 40px;
}

.search-button {
  display: flex;
  align-items: center;
  width: 492px;
  height: 44px;
  border-radius: 70px;
  border: 1px solid rgba(195, 212, 233, 0.40);
  background: var(--Primary-0, #FFF);
  padding: 0 16px;
  box-sizing: border-box;
}

.search-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--Secondary-400, #596780);
  line-height: 150%;
  letter-spacing: -0.32px;
  flex: 1;
  text-align: justify;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.search-icon svg {
  width: 24px;
  height: 24px;
}

.like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 90px;
  border: 1px solid rgba(195, 212, 233, 0.40);
  background: #C3D4E966;
  position: absolute;
  right: 30px;
  top: 40px;
}

.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.like-button svg {
  width: 24px;
  height: 24px;
  fill: #596780;
}