 :root {
    --Primary-0: #FFFFFF;
    --Primary-500: #3563E9;
    --Secondary-300: #90A3BF;
    --Secondary-400: #596780;
  }

.navbar-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  border-right: 1px solid #F3F5F7;
  background: var(--Primary-0, #FFF);
  padding: 32px;
  flex-shrink: 0; 
  overflow-y: auto; 
}

  .navbar-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  
  .navbar-section-title {
    display: flex;
    width: 104px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    color: var(--Secondary-300, #90A3BF);
    white-space: nowrap;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: uppercase; 
  }
  
  .navbar-item-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  
  .navbar-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  
  .navbar-item-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .navbar-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--Secondary-400, #596780);
    text-align: justify;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.4px;
  }
  
  .navbar-price-range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  .navbar-price-line-container {
    position: relative; 
    width: 296px;
    height: 12px;
    display: flex;
    align-items: center;
  }
  
  .navbar-price-line-bg {
    width: 296px;
    height: 12px;
    border-radius: 12px;
    background: var(--Secondary-300, #90A3BF);
    flex-shrink: 0;
    position: absolute;
    top: 0; left: 0;
  }
  
  .navbar-price-line-fill {
    width: 220px; 
    height: 12px;
    border-radius: 12px;
    background: var(--Primary-500, #3563E9);
    flex-shrink: 0;
    position: relative; 
    z-index: 1;
  }
  
  .navbar-price-mark {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    left: 210px; 
    z-index: 2;
  }
  
  .navbar-price-value {
    display: flex;
    width: 296px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    color: var(--Secondary-400, #596780);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.4px;
  }
  
